.overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(255, 0, 0, 0.52);
  z-index: 1;
  left: 0;
}
.modalContainer{
  width: 40%;
  background: url(modalOverlay.jpeg);
  margin: 5em auto;
  text-align: center;
  position: relative;
  padding: 3em;
}

.modalText{
  z-index:2;
  color:white;
  position:relative;
}

.modalInput{
  z-index: 2;
  padding: 0.5em;
  display: block;
  position: relative;
  margin: auto;
  border-radius: 2px;
  border: none;
  width: 30%;
}

.modalSubmit{
  position: relative;
  z-index: 2;
  margin-top: 1em;
  border: none;
  background: white;
  border: 2px;
}

.modalShadow{
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
